<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="jumbotron">
		<h1>Every Give</h1>
		<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
		<p>
		<a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs »</a>
	</div>
	<div class="page-header">
		<h1>Sticky footer</h1>
	</div>
	</p>
	<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
	<p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
</div>
<div class="col-md-1"></div>
