<style>
  p {
    cursor:pointer;
  }
</style>
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="jumbotron">
    <p><img src="<%=@picture.file.url(:medium)%>"/></p>
    <h3>설명보기전에 분류를 고르시오</h3>

    <%@array1.each do |category|%>
      <a href="#"<%if category == @category%> class="right_category category"<%else%>class="category"<%end%> style="margin-right:10px;"><%=category%></a>
    <%end%>
    <div class="answer_div" style="display:none;">
      <h3>설명을 고르시오</h3>
      <%@array.shuffle.each do |answer|%>
        <p <%if answer.id == @picture.id%>class="right_answer answer"<%else%>class="wrong_answer answer"<%end%>><%if answer.id != @picture.id%><img src = "<%=answer.file.url(:small)%>" style="display:none;"class="another_picture"/><%end%><%=answer.content.text%></p>
      <%end%>
    </div>

      <p><a id="next_btn" style= "display:none;"href="/main/random" class="btn btn-lg btn-primary">다음 문제</a></p>

	</div>
	<div class="page-header">
		<h1>Sticky footer</h1>
	</div>
	<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
	<p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
</div>
<div class="col-md-1"></div>

<script>
  $(".answer").click(function(){

    $(this).css("color", "red");
    $(".right_answer").css("color", "blue");
    $("#next_btn").show();
    $(".another_picture").show();
  
  });
  $(".category").click(function(){
    $(this).css("color", "red");
    $(".right_category").css("color", "blue");
    $(".answer_div").show();
  });
</script>
